@model List<Departamento>

<h1 style="color:blue">
        Listado departamentos
</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>LOCALIDAD</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento dept in Model)
        {
            <tr>
                <td>@dept.IdDepartamento</td>
                <td>@dept.Nombre</td>
                <td>@dept.Localidad</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Departamentos"
                    , new { iddepartamento = dept.IdDepartamento}) | 
                    @Html.ActionLink("Delete", "Delete", "Departamentos"
                    , new { iddepartamento = dept.IdDepartamento}) | 
                    @Html.ActionLink("Update", "Update", "Departamentos"
                    , new {iddepartamento = dept.IdDepartamento})
                </td>
            </tr>
        }
    </tbody>
</table>